<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
		<title>index</title>
	</head>
	
	<body>
		<div id="app">
			<div>
				<input type="text" v-model="name"/> <!--相当于app.data.name-->
				<span>你的名字是：{{name}}</span>
			</div>
			<div>
				<input type="text" v-model="age"/> 
				<span>你的年龄是：{{age}}</span>
			</div>
			<div>
				<input type="text" v-model="sex"/> 
				<span v-show="sex">你的性别是：{{sex}}</span><!--v-show:隐藏，元素还在-->
			</div>
			<div>
				<input type="text" v-model="sex"/> 
				<span v-if="sex">你的性别是：{{sex}}</span><!--v-if:直接删除，元素不在-->
			</div>
		</div>	
		<script src="../lib/vue.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
