<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
		<title>index</title>
		<style>
			.liked{
				background: deeppink;
			}
		</style>
	</head>
	
	<body>
		<div id="app">
			<div>
				<input v-model="length" />mm
				<br />
				{{length | meter}}  <!--用以对数值的简单修饰-->
			</div>
			<hr />
			<div>
				<input v-model="price" />
				{{price | currency('USD')}}  <!--之前的值传到后面的过滤器-->
			</div>
		</div>
		<script src="../lib/vue.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
